<form  [formGroup]="formLogin" (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">User Name</label>
    <input style="width: 250px" type="email" class="form-control" id="email" formControlName="name"  [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input style="width: 250px" type="password" class="form-control" id="pwd" formControlName="password"  [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
